# Pip requirements to build WebHelpers documentation and run tests.

MarkupSafe>=0.9.2

# Test runner
pytest

# Required for generating HTML documentation
Sphinx

# Optional enhancement for certain helpers
Unidecode
