# Pip requirements to build WebHelpers documentation and run tests.

MarkupSafe>=0.9.2
six>=1.4.0

# Test runner
pytest
tox

# Making wheel distributions
wheel

# Required for generating HTML documentation
Sphinx
pylons-sphinx-themes

# Optional enhancement for certain helpers
Unidecode
